.home_container {
    @include flex_col;
    margin-top: 1em;
    background-color: map-get($color, cl_gray);
    @include xs {
        font-size: 14px;
    }
    color: map-get($color, cl_white);
    p {
        font-size: map-get($size, h2);
        @include xs {
            font-size: 14px;
        }
    }
}
